@use '../abstracts' as *;
@use '../base' as *;

.popover-trigger {
	display: inline;
}

.popover {
	display: none;
	width: 320px;
	padding:16px;
	&:hover {
		display: block;
		background-color: aqua;
	}
	.popover-arrow {
		// margin: 0 48px;
	}
	.popover-body {
		padding: 0px;
		.popover-content-header {
			@include font-large;
		}
		.popover-content {
			@include font-medium;
			.popover-content-title {
				font-weight: 600;
			}
			.popover-content-subtitle {
				color: $light;
			}
			.popover-content-body {
				color: $light;
			}
		}
		.popover-content-footer {
			color: $light;
		}
	}
}
