
$primary: #3e3070;
$secondary: #12a161;
$success: #12a161;
$danger: #151317;
$light: #d2d6e9;
$white: #ffffff;

$theme-colors: (
    "light":      #d2d6e9,
    "dark":       #151317,
    "primary":    #3e3070,
    "secondary":  #f92b39,
    "info":       #f95b22,
    "success":    #12a161,
    "warning":    #dfcb13,
    "danger":     #ed2407,
);
